<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TRYING</title>
    <style>
        .btn{
            width: 120px;
            height: 120px;
            display: block;
            margin: 120px;
            background-color: red;
        }
    </style>
</head>
<body>
<div class="btn"></div>


<script type="text/javascript" src="/static/jquery.min.js" charset="utf-8"></script>
<script>
    var url_ = '127.0.0.1:8000';
    var data_ = {
        'username': 'tracy',
        'password': 'kk123123',
        'client_id': 'JRDsilB0OWPi29putXA7HqK4g5haB55HIJcu3t4s',
        'grant_type': 'password'
    }
    $('.btn').click(function(){
        alert(8888)
        $.ajax({
            type: 'POST',
            url: '/api/v1/o/token/' ,
            data: data_ ,
            success: function(data){
                console.log('data===')
                console.log(data)
                alert('this is ok!!!')
            } ,
            error : function() {
                alert("异常！");
            },
            dataType: 'jsonp'
        });
    });
</script>
</body>
</html>